/* Скидання по тегам*/
body{
    font-family: Roboto, Raleway,sans-serif;
    background-color: FFFFFF;
    color: #2E2F42;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Секція Навігації*/
.logo{
    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-header{
color: #2E2F42;
}
.nav-list-item{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-list-item:hover,
    :focus{
    color:#4D5AE5;
}
.contacts-item{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts-item:hover,
    :focus {
    color: #4D5AE5;
}
/* Секція Лого(Hero)*/
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn{
    cursor: pointer;

    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

/* Секція Проекти*/
.feature-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
.feature-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*Секція Команда*/
.team{
    background-color:#F4F4FD ;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-card{
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px;
        width: 264px;
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #FFFFFF;
}
.team-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.team-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}


/*Секція портфоліо*/
.portfolio-card{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    
     
    
}
.portfolio-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* футер */
.footer{
    background-color: #2E2F42;
}
.logo-footer{
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
}